.what-we-do__highlight-text-gold {
  background: linear-gradient(271.02deg, #CCAB51 0.83%, #D5B45F 51.73%, #E7C77C 99.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.what-we-do__shadow-card-light {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}